*{box-sizing: border-box;
margin: 0px;
padding: 0px;}
body {font-family: sans-serif;}

.nevem h1 { background-color: lightblue;
text-align: center; 
display: block;
margin: 10px;
padding: 30px;}


ul {
list-style: none;
margin: 0;
padding: 0;}

li a {text-decoration: none;
	display: block;
min-width: 90%;
padding: 46px 0 46px 0;
margin: 10px;
font-weight: bolder;
color: black;
border: 2px solid black;
border-radius: 10px;
background-color: lightpink;

}

li a:hover{background-color: lightblue;
color: lightpink;}

.menu1 {
	text-align: center;
	padding: 0 30px;
	font-size: 30px;
	max-width: 250px;
	margin: 10px;

	}


.szöveg{
background-color:white;
border: 2px solid black;
border-radius: 15px;
padding: 20px;
width: 100%;
height: min-content;
font-size: 20px;
text-align: center;

}

.szöveg {
  overflow: auto;}


.munkáim{min-width: 120%;}


h1 a {text-decoration: none;
color: black;}




img {border: 10px solid white;
border-radius: 5px;}

.tartalom1:hover{ width: 110%; }
.tartalom2:hover{ width: 110%; }
.tartalom3:hover{ width: 110%; }
.tartalom4:hover{ width: 110%; }
.tartalom5:hover{ width: 110%; }

.tartó{display: grid;
grid-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  background-color: lightcyan;
  padding: 10px;
  justify-content: space-around;
  margin: 10px;
   grid-template-areas:'. kozep kozep '
   ' elem1 elem2 elem3'
   ' elem4 elem5 .'
   
}

.szöveg{grid-area: kozep;}
.tartalom1 {grid-area:elem1;}
.tartalom2 {grid-area: elem2;}
.tartalom3 {grid-area: elem3;}
.tartalom4 {grid-area: elem4;}
.tartalom5 {grid-area: elem5;}


.tartalom3{min-width: 100px;
display: block;}

.tartalom1{min-width: 100px;
display: block;}

.tartalom2{min-width: 100px;
	display: block;
}

.tartalom4{min-width: 100px;
	display: block;
}

.tartalom5{min-width: 100px;
	display: block;
}


footer{text-align: center;
background-color: lightblue;
margin: 10px;
padding: 30px;
}